*{font-family: Microsoft Yahei}
.board{margin:0 2% 2% 2%;background: #fff;padding: 20px}
.top{margin-top: 90px}
.board-head{border-bottom:1px solid #ccc}
.board-head-title{margin-bottom: 10px;padding-left: 10px;border-left:5px solid #00a1ea;font-weight: bold;font-size: 16px}
.board-body{width: 100%;height: auto;margin-top:10px;font-size: 0}
.board-item{width: 12.5%;display: inline-block;font-size: 12px;zoom: 1;padding: 20px;text-align: center;color:#000}
.board-item:focus{text-decoration: none}
.board-item:hover{border:1px inset #00a1ea;text-decoration: none;font-weight: bold;border-radius: 10px}
.board-item:hover > .board-item-img{transform:rotateY(180deg);transform-style:perserve-3d;transition:all 1.0s linear;animation-duration:2.0s;animation-fill-mode:both;
animation-name:bounce}
.board-item-img{background: #00a1ee;text-align: center;padding: 20px;border-radius: 10px}
.board-item-img img{max-width: 100%;height: auto;min-width: 10px}
.board-item-text{text-align: center;font-size: 14px;white-space: nowrap}
.half{width: 46%;float: left}
.half .board-item{width: 25%}

@keyframes bounce{
	0% {opacity: 1;transform:scale(.8);}
	50% {opacity: 0.5;transform:scale(1.05);}
	70% {opacity: 1;transform:scale(.9);}
	100% {opacity: 0.5;transform:scale(1);}
}
@media (max-width: 767px) {
	.board-item{width: 20%}
	.half{float: none;width: 96%;margin-right: 2%}
}

@media (max-width: 414px) {
	.board-item{display: block;width:40%;margin: 1em 30% 0 30%;padding:0}
	.board-item-img{width: 100%}
	.board-item:hover{border:0}
	.half .board-item{width: 40%}
}