.aboutus{margin-top: 110px;padding: 10px;font-family: Microsoft Yahei;background: #fff}
#title-logo{width: 40px;height: 40px;position: relative;left:15px}
#about-title{position: relative;left:24px;top:5px;font-size: 30px;color: black;font-weight: bold;-webkit-font-smoothing:antialiased}
.about-detail{margin:60px 10px 10px 20px;text-align:center}
.about-detail h3 {padding: 15px;border-radius: 10px 10px 0 0;margin-bottom: 0;color: white;font-size: 25px;background: #ff4444;width: 50%;margin-left: 25%}
.about-detail p {padding: 0px 15px 15px 15px;border-radius: 0 0 10px 10px;color: white;font-size: 18px;
	width: 50%;margin-left: 25%;text-align: left;line-height: 30px;background: #ff4444}
.horiz{display: inline-block;width: 320px;overflow: hidden}
#i1{transform:rotateY(180deg)}
#i2{float: right}

.news-content{margin:2% 5% 0 5%}
.news-content > ul {list-style-type: none;padding:0;margin:0}
.news-content > ul > li{display:flex;align-content:center;padding:24px 0 24px 0;border-top:1px solid #ccc}
.news-text{margin-left:30px}
.news-time{color:#aaa}
.glyphicon-time{position:relative;right:8px}
.news-text > a{color:#aaa}
.news-text > a:hover{text-decoration: none}
.news-text > a > h4{margin-top: 0;font-weight:bold;color:#001f3f}
.news-text > a > h4:hover{color:#CB3038}
.news-text > p{padding-top: 5px;text-indent: 2em;color:#7d7d7d}

@media (max-width: 768px) {
	#i1{margin-left: 10px}
	.about-detail h3{width: 76%;margin-left: 12%} 
	.about-detail p{width: 76%;margin-left: 12%}
}	

@media (max-width: 670px) {
	.horiz{width: 45%}
}

@media (max-width: 610px) {
	.news-content > ul > li{display:block;text-align:center;max-width:100%}
	.news-content > ul > li > img{}
	.news-text{margin:20px 0 0 0}
}

@media (max-width: 412px) {

	.about-detail h3{width: 90%;margin-left: 5%} 
	.about-detail p{width: 90%;margin-left: 5%}
}	