html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, 
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td ,textarea { margin:0; padding:0;  }
address,cite,dfn,em,var, i {font-style:normal;}
body {font-size: 16px; line-height: 1.5; font-family:"微软雅黑";  color: #222; background: #eee;width: 100%; height: 100%;}

table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6, th { font-size: 100%; font-weight: normal; }
button,input,select,textarea{font-size:100%;}
fieldset,img{border:0;}
a { text-decoration: none; color: #666; background: none }
ul, ol { list-style: none; }
.fl{ float: left}
.fr{position:absolute;right:2%}
.warp{
	margin: 0 auto;
}
.logdin-bg{background-color: #fff;}
.logdin-hd{
	width: 100%;
	height: 80px;
	background-color: #fff;
}
.position-logo{
	margin: 21px 0 0 21px;
}
.logdin-banner{
	border:1px dashed grey;
	position: relative;
	width: 100%;
	height: 450px;
	background-image:url(../image/banner.png);
	background-position: center;
	background-repeat: no-repeat;
	
}
.banner-font{
	position: absolute;
	top: 140px;
	left: 100px;
	color: #FFFFFF;
}
.banner-font-main{
	font-size: 32px;
	font-weight: 800;
}
.login-form{
	margin-top: 10px;
	width: 380px;
	height: 420px;
	background-color: #FFFFFF;
	border-radius: 4px;
	border: 1px solid #b4bcc8;
}
.login-tit{
	display: inline-block;
	width: 320px;
	line-height: 50px;
	border-bottom: 1px solid #B4BCC8;
	font-weight: 800;
	
}
.login-form-warp{
	width: 320px;
	margin: 0 auto;
}
.username-field{
	position: relative;
	margin-top: 20px;
	
}
.user-ipt{
	width: 260px;
	height: 50px;
	padding-left: 60px;
	background-color: #EEEEEE;
	border: 1px solid #B4BCC8;
	border-radius: 4px;
}
.user-icon{
	position: absolute;
	top: 12px;
	left: 15px;
}
.passworld-field{
	position: relative;
	margin-top: 20px;
	
}
.Verification-field{
	position: relative;
	margin-top: 20px;
	
}
.dt-code{
	position: absolute;
	right: 0px;
	top: 1px;
	width: 140px;
	height: 51px;
	background-color: #FFFFFF;
	border-radius: 0 4px 4px 0;
	
}
.login-bt{
	display: inline-block;
	margin-top: 40px;
	width: 320px;
	height: 55px;
	color: #FFFFFF;
	background-color: #467cd4;
	border-radius: 4px;
	line-height: 55px;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}
a:hover{
	background-color: #3c6bb7;
}
.pbis{
	margin: 20px 0;
	text-align: center;
	font-size: 14px;
	color: #666666;
}

#code{ 
	position: absolute;
	right: -1px;
	top: 0px;
	width: 140px;
	height: 52px;
	border-radius: 0 4px 4px 0;
    color:#222;/*字体颜色白色*/  
    background-color:#ffffff;     
    font-size:20pt;  
    font-family:"华康娃娃体W5";  
    padding:5px 35px 10px 35px;  
    margin-left:1%;       
    cursor:pointer;  
    border: 0px;
}  

@media (max-width:1024px) {
	.banner-font{display:none}
	.warp{text-align:center}
	.fr{left:50%;transform:translateX(-50%)}
}

.container-fluid{
  padding: 0 20px;
}
.row{
  margin: 0;
}
.col-sm-2, .col-md-2, .col-lg-2,
{
  padding: 0;
}
.col-xs-12, .col-xs-6, .col-sm-6, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5{
  padding: 0;
}
.dropdown-menu{
  min-width: 100%;
}
// .dropdown-menu li{
//   padding: 5px 12px;
//   cursor: pointer;
// }
.white-bg{
  background: #fff;
}
.g-box{
  margin: 0 20px 20px 20px;
}
.g-pad{
  margin: 0 20px;
}
.g-box input, .g-pad input{
  height: 32px;
  line-height: 32px;
  border: 1px solid #ddd;
}
/**网页头部**/
.sm-avatar{
  display: inline-block;
}
.bill-header{
  padding: 0;
}
.bill-header .header-box{
  padding: 20px 0;
  background: #fff;
}
.bill-header .logo-row{
  position: relative;
  margin-bottom: 10px;
}
.bill-header .logo-row .logo{
  display: inline-block;
  padding-left: 25px;
}
.bill-header .logo-row .logo, .bill-header .logo-row .sm-avatar{
  height: 40px;
}
.bill-header .logo-row .logo img, .bill-header .logo-row .sm-avatar img{
  height: 40px;
}
.bill-header .logo-row .sm-avatar{
  text-align: right;
}
.bill-header .logo-row .sm-menu{
  display: inline-block;
  width: 40px;
  max-width: 40px;
  cursor: pointer;
}
.bill-header .logo-row .search-box{
  margin-top: 15px;
  padding-right: 25px;
  text-align: right;
}

.bill-header .logo-row .navbar-list ul{
  background: rgba(256, 256, 256, .8);
}
.bill-header .logo-row .navbar-list{
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-top: 1px solid #ddd;
  z-index: 100;
  display: none;
}
.bill-header .logo-row .navbar-list li{
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.bill-header .logo-row .navbar-list li.active{
  font-weight: bold;
  color: #000;
}
.bill-header .search{
  display: inline-block;
  width: 192px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border: 1px solid #cbcccb;
  border-radius: 16px;
  margin: 0 15px 0 10px;
  background: #f5f5f5;
}
.bill-header .search input{
  width: 140px;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
  background: #f5f5f5;
}
.bill-header .search .s-icon{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('../images/search.png');
  vertical-align: middle;
  margin-bottom: 5px;
  cursor: pointer;
}
.bill-header .navigate-row{
  height: 44px;
  line-height: 44px;
  font-size: 0;
  display: none;
}
.bill-header .navigate-row .avatar-box{
  text-align: right;
  padding-right: 40px;
}
.bill-header .navigate-row ul{
  padding-left: 10px;
}

.bill-header .navigate-row ul li.item{
  display: inline-block;
  width: 100px;
  font-size: 16px;
  color: #666666;
}

/* .bill-header .navigate-row ul li.item:first-child{
  width: 80px;
} */
.bill-header .navigate-row ul li.item a{
  color: #666666;
}
.bill-header .navigate-row ul li.active a{
  color: #000;
  font-weight: bold;
}
.bill-header .navigate-row ul li.item a:hover{
  color: #000;
  font-weight: bold;
}

/**网页底部**/
.bill-footer{
  background: #000;
  padding: 40px;
  text-align: center;
}
.bill-footer p{
  line-height: 24px;
  color: #6e6c6b;
}

/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */

@media (max-width: 484px) {
  .logo img{
    width: 80%;
  }
  .logo img{
    width: 100%;
  }
  .lg-avatar{
    display: none;
  }
  .bill-header .logo-row .search-box{
    margin-top: 15px;
  }
  .navigate-list{
    width: 100%;
  }
  .bill-header .navigate-row ul li.item{
    font-size: 12px;
  } 
 }
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) { 
  .sm-avatar{
    display: none;
  }
  .bill-header .header-box{
    padding: 20px 15px;
  }
  .bill-header .logo-row .logo,.bill-header .logo-row .logo img{
    height: 100%;
  }
  .bill-header .logo-row .navbar-list{
    display: none;
  }
  .bill-header .navigate-row{
    display: block;
  }
  .bill-header .logo-row .search-box{
    text-align: right;
  }
  .bill-header .logo-row .search-box{
    margin-top: 0;
  }
  .bill-header .search{
    margin-top: 25px;
  }

 }

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px){
  
}
@media (min-width: 992px) and (max-width: 998px){
  
 }
@media (min-width: 998px) and (max-width: 1200px){
  
 }
/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {

}