.container-fluid{
  padding: 0 20px;
}
.row{
  margin: 0;
}
.col-sm-2, .col-md-2, .col-lg-2{
  padding: 0;
}
.dropdown-menu{
  min-width: 100%;
}
 .item-header{
   padding: 20px;
 }
.white-bg{
  background: #fff;
}
/**网页头部**/
.sm-avatar{
  display: inline-block;
}
.bill-header{
  padding: 0;
}
.bill-header .header-box{
  padding: 20px 0;
  background: #fff;
}
.bill-header .logo-row{
  position: relative;
  margin-bottom: 10px;
}
.bill-header .logo-row .logo{
  display: inline-block;
  padding-left: 25px;
}
.bill-header .logo-row .logo, .bill-header .logo-row .sm-avatar{
  height: 40px;
}
.bill-header .logo-row .logo img, .bill-header .logo-row .sm-avatar img{
  height: 40px;
}
.bill-header .logo-row .sm-avatar{
  text-align: right;
}
.bill-header .logo-row .sm-menu{
  display: inline-block;
  width: 40px;
  max-width: 40px;
  cursor: pointer;
}
.bill-header .logo-row .search-box{
  margin-top: 15px;
  padding-right: 25px;
  text-align: right;
}
.bill-header .logo-row .navbar-list ul{
  background: rgba(256, 256, 256, .8);
}
.bill-header .logo-row .navbar-list{
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-top: 1px solid #ddd;
  z-index: 100;
  display: none;
}
.bill-header .logo-row .navbar-list li{
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.bill-header .logo-row .navbar-list li.active{
  font-weight: bold;
  color: #000;
}
.bill-header .search{
  display: inline-block;
  width: 192px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border: 1px solid #cbcccb;
  border-radius: 16px;
  margin: 0 15px 0 10px;
  background: #f5f5f5;
}
.bill-header .search input{
  width: 140px;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
  background: #f5f5f5;
}
.bill-header .search .s-icon{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('../image/transBills/search.png');
  vertical-align: middle;
  margin-bottom: 5px;
  cursor: pointer;
}
.bill-header .navigate-row{
  height: 44px;
  line-height: 44px;
  font-size: 0;
  display: none;
}
.bill-header .navigate-row .avatar-box{
  text-align: right;
  padding-right: 40px;
}
.bill-header .navigate-row ul{
  padding-left: 10px;
}

.bill-header .navigate-row ul li.item{
  display: inline-block;
  width: 100px;
  font-size: 16px;
  color: #666666;
}

/* .bill-header .navigate-row ul li.item:first-child{
  width: 80px;
} */
.bill-header .navigate-row ul li.item a{
  color: #666666;
}
.bill-header .navigate-row ul li.active a{
  color: #000;
  font-weight: bold;
}
.bill-header .navigate-row ul li.item a:hover{
  color: #000;
  font-weight: bold;
}
@media (max-width: 992px) {
  .bill-header .navigate-row ul li.item{
    width: 20%;
  }
}
/**网页底部**/
.bill-footer{
  background: #000;
  padding: 40px;
  text-align: center;
}
.bill-footer p{
  line-height: 24px;
  color: #6e6c6b;
}
/**statictics_bill.html网页主体**/
.statistics-body{
  padding-bottom: 45px;
}
.statistics-body .row, .statistics-body .item-row, .statistics-body .rate-row{
  margin-top: 20px;
  background: #fff;
}
.statistics-body .row, .statistics-body .item-row, .statistics-body .rate-row{
  padding: 20px;
}
.statistics-body .types{
  padding-bottom:0;
}
.statistics-body .types .s-icon{
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto 5px;
}
.statistics-body .types li{
  padding-bottom: 20px;
}
.statistics-body .types li .box{
  display: block;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  background: #1e95d4;
}
.statistics-body .types .icon1{
  background: url('../image/transBills/icon1.png')
}
.statistics-body .types .icon2{
  background: url('../image/transBills/icon2.png')
}
.statistics-body .types .icon3{
  background: url('../image/transBills/icon3.png')
}
.statistics-body .types .icon4{
  background: url('../image/transBills/icon4.png')
}
.statistics-body .types .icon5{
  background: url('../image/transBills/icon5.png')
}
.statistics-body .types .icon6{
  background: url('../image/transBills/icon6.png')
}
.statistics-body .item-rate{
  font-size: 0;
}
.statistics-body .item-row{
  margin-right: 20px;
}
.statistics-body .item-row,.statistics-body .rate-row{
  text-align: center;
  font-size: 14px;
}
.statistics-body .item-row .text,.statistics-body .rate-row .text{
  margin-top: 15px;
}
.statistics-body .transport .track-title{
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.statistics-body .transport h2{
  line-height: 32px;
  font-weight: bold;
}
.statistics-body .transport .btn-default{
  position: relative;
  display: inline-block;
  width: 192px;
  height: 32px;
  line-height: 32px;
  text-align: left;
  font-size: 14px;
  border: 1px solid #cbcccb;
  border-radius: 16px;
  margin: 0;
}
.statistics-body .transport .btn-lg{
  padding: 0;
  text-align: left;
  padding: 0 12px;
}
.statistics-body .transport .btn-lg .caret{
  position: absolute;
  top: 11px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: url('../image/transBills/arrow.png') no-repeat;
  background-size:  100% 100%;
  border: none;
}
.statistics-body .transport .year{
  margin-left: 10px;
}
.statistics-body .transport .year .btn-default{
  width: 90px;
  border: none;
  background: #dddddd;
}
.statistics-body .scroll-banner{
  position: relative;
  height: 234px;
  overflow: hidden;
}
.statistics-body .scroll-banner .hd{
  overflow:hidden;
}
.statistics-body .scroll-banner .bd{
  margin: 0 30px;
}
.statistics-body .scroll-banner .bd .col-xs-6 div:not(last-child){
  /*border-right: 1px solid #cbcbcb;*/
}
.statistics-body .scroll-banner .hd .btn{
  position: absolute;
  top: 45%;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
  cursor: pointer;
}
.statistics-body .scroll-banner .hd .prev{
  left: 0px;
  background: url('../image/transBills/prev.png') 100% 100%;
  background-size: contain;
}
.statistics-body .scroll-banner .hd .next{
  right: 0px;
  background: url('../image/transBills/next.png') 100% 100%;
  background-size: contain;
}

/**bill-car.html网页主体**/
.brance-line{
  padding: 15px 40px;
}
.brance-line .r-icon{
  display: inline-block;
  width: 6px;
  height: 10px;
  margin: 0 8px;
  background: url('../image/transBills/jiantou.png')
}
.brance-line span{
  color: #000;
}
.car-body .cars-box{
  margin: 0 20px;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}
.car-body .cars-box .formula li{
  display: inline-block;
  width: 104px;
  line-height: 16px;
  margin: 8px 0;
  text-align: center;
  color: #333;
  border-right: 1px solid #bbb;
  cursor: pointer;
}
.car-body .cars-box .formula li.active{
  color: #417db2;
}
.car-body .cars-box .car-search{
  text-align: right;
}
.car-body .cars-box .car-search .car-sinput{
  position: relative;
}
.car-body .cars-box .car-search .car-sinput input{
  width: 180px;
  height: 32px;
  line-height: 32px;
  margin-right: 60px;
  border: 1px solid #ddd;
}
.car-body .cars-box .car-search .car-sbtn{
  position: absolute;
  top: 0;
  right: 25px;
  width: 50px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background: #258dc5;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.car-body .cars-list{
  margin: 0 20px;
  padding: 20px;
}
.car-body .cars-list .radio-box{
  display: inline-block;
  vertical-align: middle;
}
.car-body .cars-list .radio-box .radios{
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 11px;
  border: 1px solid #ddd;
  border-radius: 9px;
  cursor: pointer;
  vertical-align: middle;
}
.radio-box input[type="checkbox"]{
  position: fixed;
  left: -9999px;
}
.radio-box input[type="checkbox"]:checked + label.radios{
  background: url('../image/transBills/success.jpg');
  background-size: cover;
}

.car-body .cars-list .car-info{
  display: inline-block;
  width: calc(100% - 45px);
  padding: 10px;
  border: 1px solid #ddd;
  vertical-align: middle;
  margin-bottom: 10px;
}
.car-body .cars-list .car-info .car-img{
  display: inline-block;
  width: 100px;
  vertical-align: top;
}
.car-body .cars-list .infos .info-text{
  display: inline-block;
  padding: 5px 0 5px 15px;
}
.car-body .cars-list .infos .info-text .name{
  display: inline-block;
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
}
.car-body .cars-list .infos .info-text .tip{
  display: inline-block;
  width: 40px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  border-radius: 4px;
  background: #4bb476;
  margin-bottom: 5px;
}

.car-body .cars-list .infos .cz-info p{
  margin-top: 0;
  color: #000;
}
.car-body .cars-list .infos .cz-info .labels{
  display: inline-block;
  width: 100px;
  color: #999;
  text-align:justify;
  text-align-last:justify;
}

.car-body .cars-list .date{
  margin-top: 5px;
}
.car-body .cars-list .date .time{
  color: #000;
  font-weight: bold;
}

/**my-car.html网页主体**/
.my-car-body{
  position: relative;
}
.my-car-body .address-msg .msg-table{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 992px;
  overflow-x: auto;
}
.my-car-body .address-msg .msg-table li{
  display: inline-block;
  flex: 1;
  text-align: center;
  height: 36px;
  line-height: 36px;
}
.my-car-body .address-msg .msg-table li:not(:last-child) {
  border-right: 1px solid #ccc;
}
.my-car-body .address-msg .msg-header li{
  color: #fff;
  background: #258dc5;
}
.my-car-body .address-msg .msg-table li.sm-item{
  width: 5%;
}
.my-car-body .address-msg .msg-table li.lg-item{
  width: 25%;
}
.my-car-body .search-bar{
  position: absolute;
  top: 65px;
  left: 20px;
}
.my-car-body .search-bar .car-search{
  position: relative;
  text-align: right;
}

.my-car-body .search-bar .car-search .car-sinput input{
  width: 235px;
  height: 40px;
  line-height: 40px;
  margin-right: 80px;
  padding-left: 15px;
  border: 1px solid #ddd;
}
.my-car-body .search-bar .car-search .car-sbtn{
  position: absolute;
  top: 0;
  left: 250px;
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #258dc5;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
/**order-info.html网页主体**/
.info-body .info-main{
  margin: 0 20px 20px 20px;
}
.info-body .info-main .order-line{
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 0;
}
.info-body .info-main .order-line .item{
  position: relative;
  display: inline-block;
  width: 33.333%;
  align-content: center;
}
.info-body .info-main .order-line p{
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
}
.info-body .info-main .order-line .icon{
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
}
.info-body .info-main .order-line .order .icon{
  background: url('../image/transBills/order.png')
}
.info-body .info-main .order-line .in .icon{
  background: url('../image/transBills/in.png')
} 
.info-body .info-main .order-line .accept .icon{
  background: url('../image/transBills/accept.png')
} 
.info-body .info-main .order-line .order .icon.active{
  background: url('../image/transBills/order_active.png')
}
.info-body .info-main .order-line .in .icon.active{
  background: url('../image/transBills/in_active.png')
} 
.info-body .info-main .order-line
 .accept .icon.active{
  background: url('../image/transBills/accept_active.png')
} 
.info-body .info-main .order-line .line{
  position: absolute;
  top: calc(50% - 15px);
  width: 50%;
  height: 2px;
}
.info-body .info-main .order-line .gray-line{
  background: #ddd;
}
.info-body .info-main .order-line .blue-line{
  background: #258dc5;
}
.info-body .info-main .order-line .l-line{
  left: -25px;
}
.info-body .info-main .order-line .r-line{
  right: -25px;
}
.info-body .info-main .order-info{
  margin: 0 20px;
  border: 1px solid #ddd;
}
.info-body .info-main .info-header{
  padding: 20px;
  color: #000;
  background: #f3f3f5;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}
.info-body .info-main .info-body{
  padding: 20px;
  color: #969696;
}

.info-body .info-main .info-body .text{
  display: inline-block;
  max-width: 288px;
}
.info-body .info-main .info-table{
  margin: 0 20px;
  padding-bottom: 20px;
}
.info-body .info-main .info-table .name{
  padding: 30px 0 20px 0;
  font-weight: bold;
  color: #000;
}
.info-body .info-main .info-table .name input{
  margin-right: 10px;
  vertical-align: top;
}
.info-body .info-main .info-table .tables{
  position: relative;
  margin-bottom: 10px;
}
.info-body .info-main .info-table .table-index{
  width: 60px;
  height: 100%;
  text-align: center;
  border: 1px solid #ddd;
  border-right: none;
}
.fixed-table-body thead th:first-child{
  width: 60px;
  text-align: center;
}
.fixed-table-body tbody tr{
  text-align: center;
}
.fixed-table-body tbody td:first-child{
  width: 60px;
  text-align: center;
}
.fixed-table-container tr .th-inner{
  width: 100%;
}
.fixed-table-body thead th .th-inner{
  padding: 8px 0 0 0;
/*   height: 100%; */
/*  以下规则会和bs-table配置冲突  */
/*   text-align: center; */
}
.fixed-table-container,.fixed-table-header{
  border-radius: 0;
}
.fixed-table-body .checkbox{
  display: inline-block;
}
/**order-info.html网页主体**/
.tosend-bill .order-tabs{
  margin: 0 20px 20px 20px;
}
.tosend-bill .order-tabs .tabs{
  border: 1px solid #ddd;
}
.tosend-bill .tabs .item{
  position: relative;
  padding: 10px 0;
  text-align: center;
  color: #000;
  cursor: pointer;
}
.tosend-bill .tabs .item .box{
  padding: 10px 0;
  border-right: 1px solid #ddd;
}

.tosend-bill .tabs .item .blue{
  color: #258dc5;
}
.tosend-bill .tabs .item .err{
  color: #da281a;
}
.tosend-bill .tabs .item.active .err{
  color: #258dc5;
}
.tosend-bill .tabs .item.active{
  font-weight: bold;
  color: #258dc5;
}
.tosend-bill .tabs .item .b-line{
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #258dc5;
  display: none;
}
.tosend-bill .tabs .item .b-arrow{
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #258dc5;
  display: none;
}
.tosend-bill .tabs .item.active .b-line{
  display: block;
}
.tosend-bill .tabs .item.active .b-arrow{
  display: block;
}
.tosend-bill .order-tabs .tab-cons{
  padding: 20px;
}
.tosend-bill .tab-cons .item{
  display: none;
  font-size: 12px;
}
.tosend-bill .tab-cons .item .date-box .dates{
  position: relative;
  display: inline-block;
}
.tosend-bill .tab-cons .item .date-box .dates .date-icon{
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-left: 1px solid #ddd;
  background: #e6e9eb url('../image/transBills/date-icon.png') center center no-repeat;
  cursor: pointer;
}
.tosend-bill .tab-cons .item .date-box input{
  width: 160px;
  height: 32px;
  border: 1px solid #ddd;
}
.tosend-bill .tab-cons .item.active{
  display: block;
}
.tosend-bill .tab-cons .other-box{
  margin-top: 15px;
}
.tosend-bill .tab-cons .item .gj-type select{
  width: 100px;
  height: 32px;
  border: 1px solid #ddd;
}
.tosend-bill .tab-cons .item .gc-name .search-bar{
  display: inline-block;
}
.tosend-bill .tab-cons .item .gc-name span{
  display: inline-block;
  padding-left: 15px;
}
.tosend-bill .tab-cons .item .gc-name input{
  width: 160px;
  height: 32px;
  padding: 0 10px;
  border: 1px solid #ddd;
  vertical-align: middle;
}
.tosend-bill .tab-cons .item .gc-name .btn{
  width: 80px;
  height: 32px;
  border-radius: 4px;
  background: #258dc5;
  color: #fff;
  vertical-align: middle;
  margin-left: 15px;
}

.tosend-bill .tab-cons .item .gj-type,.tosend-bill .tab-cons .item .gc-name{
  margin: 15px 0;
}
.tosend-bill .main-box .box-item{
  display: none;
}
.tosend-bill .main-box .box-item.active{
  display: block;
}
.tosend-bill .main-box .box-item .item-main{
  margin: 0 20px 20px 20px;
}
.tosend-bill .main-box .box-item .item-main .t-header{
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.tosend-bill .main-box .box-item .t-header li{
  line-height: 24px;
  text-align: left;
}
.tosend-bill .main-box .box-item .t-header .g-ct span{
  color: #258dc5;
}
.tosend-bill .main-box .box-item .t-body{
  padding-bottom: 20px;
}
.tosend-bill .main-box .box-item .t-body .item-one{
  flex: 1;
  padding: 20px;
}
.tosend-bill .main-box .box-item .t-body .item-one .avatar{
  display: inline-block; 
  vertical-align: top;
  width: 110px;
}
.tosend-bill .main-box .box-item .t-body .item-one .info,
.tosend-bill .main-box .box-item .t-body .item-one .nums{
  display: inline-block; 
  vertical-align: top;
}

.tosend-bill .main-box .box-item .t-body .item-one .info h3{
   font-weight: bold;
   color: #000;
   margin: 10px 0 20px 15px;
}
.tosend-bill .main-box .box-item .t-body .item-one .info span{
  display: inline-block; 
  line-height: 24px;
  width: 90px;
  margin-left: 15px;
  text-align:justify;
  text-align-last:justify;
}
.tosend-bill .main-box .box-item .t-body .item-one .info p{
  display: inline-block; 
  line-height: 24px;
  color: #000;
}
.tosend-bill .main-box .box-item .t-body .item-one .nums{
  display: inline-block; 
  width: 110px;
  text-align: center;
}
.tosend-bill .main-box .box-item .t-body .item-two{
  flex: 0 0 180px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  text-align: left;
  padding-left: 20px;
  margin-bottom: 20px;
}
.tosend-bill .main-box .box-item .t-body .item-two p{
  position: relative;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
}

.tosend-bill .main-box .box-item .t-body .item-three{
  position: relative;
  flex: 0 0 320px;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}

.tosend-bill .main-box .box-item .t-body .item-three .btns{
  display: inline-block;
  width: 80px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 4px;
  margin: 10px auto 10px;
  cursor: pointer;
}
.tosend-bill .main-box .box-item .t-body .item-three .btn-ok{
  color: #fff;
  background: #258dc5;
}
.tosend-bill .main-box .box-item .t-body .item-three .btn-err{
  color: #e71f19;
  border: 1px solid #e71f19;
}
.tosend-bill .main-box .box-item .t-body .item-three .btn-up{
  color: #258dc5;
  border: 1px solid #258dc5;
}
.car-body,.info-body{
  margin-bottom: 15px;
}
.car-body .order-ok,.info-body .order-ok{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ddd;
  box-shadow: 5px 5px 5px 5px #ddd;
}
.car-body .order-ok .checkboxs, .info-body .order-ok .checkboxs{
  display: inline-block;
  line-height: 60px;
  font-size: 12px;
  padding-left: 40px;
}
.car-body .order-ok .res-order, .info-body .order-ok .res-order{
  text-align: right;
  padding: 0;
}
.car-body .order-ok .res-order .nums, .info-body .order-ok .res-order .nums{
  font-size: 16px;
  font-weight: bold;
}
.car-body .order-ok .res-order .ok-btn, .info-body .order-ok .res-order .ok-btn{
  display: inline-block;
  width: 185px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-left: 40px;
  font-size: 18px;
  color: #fff;
  background: #258dc5;
  cursor: pointer;
}
.car-footer, .info-footer{
  margin-bottom: 60px;
}

/**order_info_load.html**/
.info-body .info-main .info-load li{
  position: relative;
}
.info-body .info-main .info-load li:not(:last-child){
  padding-bottom: 20px
}
.info-body .info-main .info-body li .line{
  position: absolute;
  top: 15px;
  left: 5px;
  width: 2px;
  height: 100%;
  background: #ddd;
}
.info-body .info-main .info-load li:last-child .line{
  display: none;
}
.info-body .info-main .info-body .labels{
  display: inline-block;
  width: 80px;
  vertical-align: top;
}
.info-body .info-main .info-body .labelz{
  display: inline-block;
  width: 260px;
  vertical-align: top;
}
.info-body .info-main .info-body .labelz i.dot{
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin-right: 10px;
  background: #ddd;
}
.info-body .info-main .info-body .labelz i.active{
  background: #258dc5;
}
.info-body .info-main .info-body .labelz b{
  color: #000;
}
.info-body .info-main .info-body .labelz b span{
  display: inline-block;
  margin: 0 15px;
}
/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */
@media (max-width: 384px) {
  .car-body .cars-list .infos .cz-info .labels, .car-body .cars-list .infos .cz-info .text{
    display: block;
  }
  .car-body .order-ok .res-order .ok-btn,.info-body .order-ok .res-order .ok-btn{
    width: 130px;
    margin-left: 15px;
  }
  .tosend-bill .tab-cons .item .gc-name input{
    width: 60px;
  }
  .tosend-bill .tab-cons .item .gc-name .btn{
    width: 50px;
  }
  .tosend-bill .tab-cons .item .date-box .dates:last-child{
    margin: 12px 0 0 60px;
  }
  .my-car-body .search-bar .car-search .car-sinput input{
    width: 160px;
  }
  .my-car-body .search-bar .car-search .car-sbtn{
    left: 172px;
  }
  .tosend-bill .main-box .box-item .t-body .item-three .btns{
    display: block;
    margin-left: 0;
    cursor: pointer;
  }
}
@media (min-width: 384px) and (max-width: 484px){
  .car-body .cars-list .date{
    width: 100%;
  }
  .tosend-bill .tab-cons .item .gc-name input{
    width: 100px;
  }
  .tosend-bill .tab-cons .item .date-box .dates:last-child{
    margin: 12px 0 0 60px;
  }
  
}
@media (max-width: 484px) {
  .logo img{
    width: 80%;
  }
  .logo img{
    width: 100%;
  }
  
  .lg-avatar{
    display: none;
  }
  .bill-header .logo-row .search-box{
    margin-top: 15px;
  }
  .navigate-list{
    width: 100%;
  }
  .bill-header .navigate-row ul li.item{
    font-size: 12px;
  }
  .car-body .cars-box .formula li{
    width: 84px;
    font-size: 12px;
  }
  .car-body .cars-box .car-search{
    margin-top: 15px;
  }
  .car-body .cars-list .sort-date{
    text-align: left;
  }
  .car-body .cars-list .infos .info-text .name,.car-body .cars-list .infos .info-text .tip{
    margin: 15px 0 0 0;
  }
  
 }
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) { 
  .sm-avatar{
    display: none;
  }
  .bill-header .header-box{
    padding: 20px 15px;
  }
  .bill-header .logo-row .logo,.bill-header .logo-row .logo img{
    height: 100%;
  }
  .bill-header .logo-row .navbar-list{
    display: none;
  }
  .bill-header .navigate-row{
    display: block;
  }
  .bill-header .logo-row .search-box{
    text-align: right;
  }
  .bill-header .logo-row .search-box{
    margin-top: 0;
  }
  .statistics-body .types li:not(:nth-child(3n)) {
    padding-right: 20px;
  }
  .bill-header .search{
    margin-top: 25px;
  }
  .car-body .cars-list .car-info .car-img{
    width: 120px;
  }
  .car-body .cars-list .infos .info-text .name,
  .car-body .cars-list .infos .info-text .tip{
    margin-bottom: 6px;
  }

  .car-body .cars-list .infos .cz-info p{
    margin-top: 5px;
  }
  .tosend-bill .tab-cons .item .gj-type,.tosend-bill .tab-cons .item .gc-name{
    margin: 0;
  }
  .tosend-bill .main-box .box-item .t-body{
    display: flex;
  }
  .tosend-bill .main-box .box-item .t-body .item-two span{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
  .tosend-bill .main-box .box-item .t-body{
    padding-bottom: 0;
  }
  .tosend-bill .main-box .box-item .t-body .item-two{
    flex: 0 0 100px;
    margin-bottom: 0;
    padding: 0;
  }
  .tosend-bill .main-box .box-item .t-body .item-three{
    flex: 0 0 120px;
  }
  .tosend-bill .main-box .box-item .t-body .item-two p{
    height: 50%;
    line-height: 50%;
    text-align: center;
  }
  .tosend-bill .main-box .box-item .t-body .item-three .btn-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
  .tosend-bill .main-box .box-item .t-body .item-three .btns{
    display: block;
    margin: 0 auto 10px;
    cursor: pointer;
  }
  .tosend-bill .main-box .box-item .t-body .item-one .nums{
    position: absolute;
    top: 30px;
    right: 30px;
  }
 }

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px){
  .statistics-body .types li:not(:nth-child(4n)) {
    padding-right: 20px;
  }
  .statistics-body .item-row,.statistics-body .rate-row{
    width: calc(50% - 10px);
  }

  .tosend-bill .main-box .box-item .t-header .g-lt{
    text-align: left;
  }
  .tosend-bill .main-box .box-item .t-header .g-ct{
    text-align: center;
  }
  .tosend-bill .main-box .box-item .t-header .g-rt{
    text-align: right;
  }
  .tosend-bill .main-box .box-item .t-body .item-three .btns{
    display: inline-block;
    cursor: pointer;
  }
  .tosend-bill .main-box .box-item .t-body .item-two{
    flex: 0 0 200px;
    margin-bottom: 0;
  }
  .tosend-bill .main-box .box-item .t-body .item-three{
    flex: 0 0 300px;
  }
  .tosend-bill .main-box .box-item .t-body .item-three .btn-box{
    text-align: center;
  }
  
  .tosend-bill .main-box .box-item .t-body .item-three .btns{
    display: inline-block;
    width: 70px;
    margin: 5px;
    cursor: pointer;
  }
  .tosend-bill .main-box .box-item .t-body .item-two{
    flex: 0 0 150px;
    margin-bottom: 0;
    padding: 0;
  }
  .tosend-bill .main-box .box-item .t-body .item-three{
    flex: 0 0 200px;
  }
}
@media (min-width: 992px) and (max-width: 998px){
  .tosend-bill .main-box .box-item .t-body .item-three .btns{
    width: 70px;
    margin: 0 5px;
  }
  .tosend-bill .main-box .box-item .t-body .item-two{
    flex: 0 0 120px;
    margin-bottom: 0;
  }
  .tosend-bill .main-box .box-item .t-body .item-three{
    flex: 0 0 260px;
  }
 }
@media (min-width: 998px) and (max-width: 1200px){
  .tosend-bill .main-box .box-item .t-body .item-three .btns{
    width: 70px;
    margin: 0 10px;
  }
  .tosend-bill .main-box .box-item .t-body .item-two{
    flex: 0 0 120px;
    margin-bottom: 0;
  }
  .tosend-bill .main-box .box-item .t-body .item-three{
    flex: 0 0 300px;
  }
 }
/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
  .statistics-body .types li:not(:last-child) {
    padding-right: 20px;
  }
  .car-body .cars-list .sort-date{
    text-align: right;
  }
  .car-body .cars-list .success-date{
    text-align: center;
  }
  .tosend-bill .tab-cons .other-box{
    margin-top: 0;
  }
  .tosend-bill .main-box .box-item .t-header .g-lt{
    text-align: left;
  }
  .tosend-bill .main-box .box-item .t-header .g-ct{
    text-align: center;
  }
  .tosend-bill .main-box .box-item .t-header .g-rt{
    text-align: right;
  }
  .tosend-bill .main-box .box-item .t-body .item-two,
  .tosend-bill .main-box .box-item .t-body .item-three{
    text-align: center;
    padding-left: 0;
  }
  .tosend-bill .main-box .box-item .t-body .item-three{
    padding-bottom: 0;
  }
  .tosend-bill .main-box .box-item .t-body .item-three .btns{
    width: 80px;
    margin: 10px;
    cursor: pointer;
  }
  .tosend-bill .main-box .box-item .t-body .item-two{
    flex: 0 0 220px;
  }
  .tosend-bill .main-box .box-item .t-body .item-three{
    flex: 0 0 350px;
  }
  
}

/**塔机**/
body{border-bottom-color: #ddd!important}
.statistics-bill{
/*  height: 100vh; */
 position: relative;
 margin: 90px 20px 0 20px;
 width: auto;
 box-shadow: 0 2px 2px rgba(0,0,0,.24),0 0 2px rgba(0,0,0,.12);
}
#buildRateLabel{
 position: relative;
 right: 20px;
}
.bill-body{
 min-height: calc(100vh - 300px);
 margin-bottom: 20px;
} 
.branch-line{
 padding: 0px 15px 15px 30px;
}
.branch-line a{
 color: #999;
}
.branch-line .r-icon{
 display: inline-block;
 width: 6px;
 height: 10px;
 margin: 0 8px;
 background: url('../images/jiantou.png')
}
.branch-line span{
 color: #000;
}
.tables {
 padding: 20px;
}
.tables table{
 width: 100%;
 border: 1px solid #ddd;
}
.tables table thead tr {
 background: #eee;
}
.tables table tbody tr{
 border-top: 1px solid #dedede;
}
.tables table thead tr th, .tables table tbody tr td{
 height: 32px;
 line-height: 32px;
 text-align: center;
}
.tables table thead tr th:not(:last-child), .tables table tbody tr td:not(:last-child){
 border-right: 1px solid #dedede;
}
.tables table tbody tr td input{
 vertical-align: middle;
}
.tables .title td{
 color: #fff;
 background: #1f95d5;
}
.tables .thead td{
 background: #eee;
}
.modal .modal-header{
 border: none;
}
.modal .modal-header .modal-title{
 color: #000;
font-weight: bold;
font-size: 16px;
padding: 0 15px;
}
.modal .modal-header .close span{
 color: #000;
}
.modal .modal-body{
 padding: 0 20px;
}
.modal .modal-footer{
 text-align: center;
}
.modal .modal-footer .btn{
 width: 80px;
 margin: 0 10px;
}
.modal .modal-footer .btn-default{
 color:  #1f95d5;
 border-color: #1f95d5;
}
.modal .modal-footer .btn-primary{
 background: #1f95d5;
}
.col-xs-12, .col-xs-6, .col-sm-6, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5{
  padding: 0;
}

/**enquire_need.html网页主体**/
.enquire-need{
 margin-bottom: 35px;
}
.enquire-need .need-header{
 padding: 20px;
 border-bottom: 1px solid #ddd;
}
.enquire-need .need-header .calendars{
 margin: 15px 0;
}
.enquire-need .need-header .dates{
 position: relative;
 display: inline-block;
 margin: 0;
}
.enquire-need .need-header .labels{
 display: inline-block;
 width: 84px;
}
.enquire-need .need-header .dates:last-child{
 margin: 15px 0 0 84px;
}
.enquire-need .dates .date-icon{
 position: absolute;
 top: 0;
 right: 0;
 display: inline-block;
 width: 32px;
 height: 32px;
 border-left: 1px solid #ddd;
 background: #e6e9eb url('../image/cstrMgn/date-icon.png') center center no-repeat;
 cursor: pointer;
}
.enquire-need .week-name select{
  height: 32px;
  border-color: #ddd;
}
.enquire-need .week-name input, .enquire-need .week-name select{
 width: 160px;
}
.enquire-need .calendars,.enquire-need .t-btns{
 padding: 0;
}
.enquire-need .t-btns .btns{
 display: inline-block;
 width: 80px;
 height: 32px;
 line-height: 32px;
 text-align: center;
 border-radius: 6px;
 margin: 0 5px;
 cursor: pointer;
}
.enquire-need .t-btns .s-btn{
 color: #fff;
 background: #1f95d5;
}
.enquire-need .t-btns .r-btn{
 color: #fff;
 background: #eac83f;
}
.enquire-need .need-body{
 padding: 20px 10px;
}
.enquire-need .need-body div{
 padding: 0;
 margin: 0;
}
.enquire-need .need-body li{
 padding-bottom: 10px;
}
.enquire-need .need-body li .box{
 padding: 20px 10px;
 border: 1px solid #dedede;
}
.enquire-need .need-body li .box .img{
 width: 140px;
}
.enquire-need .need-body li .box img{
 display: inline-block;
 width: 80%;
}
.enquire-need .need-body li .info h3{
 font-size: 16px;
 color: #000;
 font-weight: bold;
 margin: 8px 0 15px 0;
}
.enquire-need .need-body li div.item{
 line-height: 32px;
}
.enquire-need .need-body li .info span{
 color: #666;
}
.enquire-need .need-body li .info .icon{
 display: inline-block;
 width: 12px;
 height: 12px;
 margin-right: 6px;
}
.enquire-need .need-body li .info .icon-c{
 background: url('../image/cstrMgn/icon_d.png') no-repeat center center;
 background-size: contain;
}
.enquire-need .need-body li .info .icon-b{
 background: url('../image/cstrMgn/icon_b.png') no-repeat center center;
 background-size: contain;
}
.enquire-need .need-body li .info .icon-r{
 background: url('../image/cstrMgn/icon_r.png') no-repeat center center;
 background-size: contain;
}
.enquire-need .need-body li .info .precent{
 position: relative;
 display: inline-block;
 width: 30%;
 height: 10px;
 border-radius: 5px;
 margin-right: 6px;
 overflow: hidden;
}
.enquire-need .need-body li .info .rate{
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
}
.enquire-need .need-body li .info .rate-gray{
 width: 100%;
 background: #ddd;
 z-index: 99;
}
.enquire-need .need-body li .info .rate-blue{
 width: 60%;
 background: #1f95d5;
 border-radius: 5px;
 z-index: 100;
}
/**need_dong.html网页主体**/
.need-dong .content .rows a{
  display: block;
  color: #fff;
}
.d-name a{
  color: #fff;
}
.need-dong .dong-header{
 padding: 20px;
}
.need-dong .dong-header .g-rt{
  width: 100px;
}
.need-dong .dong-header .box{
 text-align: center;
 border-right: 1px solid #ddd;
}
.need-dong .dong-header .box b{
 color: #df5c4a;
 font-size: 20px;
}
.need-dong .dong-header .name{
 font-size: 15px;
 font-weight: bold;
 color: #000;
}
.need-dong .dong-header .dot{
 display: inline-block;
 width: 16px;
 height: 16px;
 margin-right: 5px;
 vertical-align: middle;
}
.need-dong .dong-header .blue-dot{
 background: #1f95d5;
}
.need-dong .dong-header .green-dot{
 background: #22ac38;
}
.need-dong .dong-header .gray-dot{
 background: #999999;
}
.need-dong .dong-header .text{
  margin-right: 10px;
}
.need-dong .dong-header .red{
/*  display: block; */
 color: #df5c4a;
}
.need-dong .dong-body{
 margin: 20px;
}
.need-dong .dong-body .dong-btns{
 padding: 20px;
 text-align: left;
 border-bottom: 1px solid #ddd;
}
.need-dong .dong-body .dong-btns .d-btn{
 display: inline-block;
 width: 60px;
 height: 32px;
 line-height: 32px;
 text-align: center;
 border-radius: 6px;
 margin: 0 5px;
 color: #fff;
 background: #1f95d5;
 cursor: pointer;
}
.need-dong .dong-body .content{
 margin: 20px 0 30px;
}
.need-dong .dong-body .content li{
 margin-top: 10px;
}
.need-dong .dong-body .rows,.need-dong .dong-body .d-name{
  padding: 0;
}
.need-dong .dong-body .rows .cell{
 border: 1px solid #ddd;
}
.need-dong .dong-body .rows .cell .date{
 float: right;
 line-height: 32px;
 color: #df5c4a;
 margin-right: 5px;
}
.need-dong .dong-body .rows .cell .index{
 display: inline-block;
 width: 32px;
 height: 32px;
 line-height: 32px;
 text-align: center;
 color: #fff;
 font-size: 18px;
 font-weight: bold;
}
.need-dong .dong-body .rows .cell .index.n-gray{
 background: #999999;
}
.need-dong .dong-body .rows .cell .index.n-green{
 background: #22ac38;
}
.need-dong .dong-body .rows .cell .index.n-blue{
 background: #1f95d5;
}
.need-dong .dong-body .rows .cell .rate{
 display: inline-block;
 margin: 0 5px;
}
.need-dong .dong-body .rows .cell .rate .n-gray{
 color: #999999;
}
.need-dong .dong-body .rows .cell .rate .n-green{
 color: #22ac38;
}
.need-dong .dong-body .rows .cell .rate .n-blue{
 color: #1f95d5;
}
.need-dong .dong-body .d-name{
 height: 55px;
 line-height: 55px;
 text-align: center;
 color: #fff;
 font-weight: bold;
 font-size: 16px;
 background: #1f95d5;
 margin-top: 10px;
}
/**air-online-gk.html**/
.air-online .air-header{
 padding: 20px;
}
.air-online .air-header .week-name input{
 border: 1px solid #ddd;
}
.air-online .air-header .dates{
 position: relative;
 display: inline-block;
 margin: 0;
}
.air-online .air-header .labels{
 display: inline-block;
 width: 84px;
}
.air-online .air-header .dates:last-child{
 margin: 15px 0 0 84px;
}
.air-online .dates .date-icon{
 position: absolute;
 top: 0;
 right: 0;
 display: inline-block;
 width: 32px;
 height: 32px;
 border-left: 1px solid #ddd;
 background: #e6e9eb url('../image/cstrMgn/date-icon.png') center center no-repeat;
 cursor: pointer;
}

.air-online .air-header .s-btn{
 display: inline-block;
 width: 80px;
 height: 32px;
 line-height: 32px;
 text-align: center;
 border-radius: 6px;
 margin: 15px 10px 0;
 color: #fff;
 background: #1f95d5;
 cursor: pointer;
}
/**load-list.html**/
.load-list .list-header{
 padding: 20px 20px 0 20px;
}
.load-list .list-header .item{
 display: inline-block;
 margin: 0 5px 10px 5px;
}
.load-list .list-header .calendars .dates{
  position: relative;
  display: inline-block;
}
.load-list .list-header .calendars .date-icon{
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-left: 1px solid #ddd;
  background: #e6e9eb url('../image/cstrMgn/date-icon.png') center center no-repeat;
  cursor: pointer;
 }
.load-list .list-header .item .labels{
 display: inline-block;
 width: 98px;
 text-align: right;
}
.load-list .list-header select{
  height: 32px;
  line-height: 32px;
}
.load-list .list-header input, .load-list .list-header select{
 width: 100px;
}
.load-list .list-header .all-btns{
 text-align: left;
}
.load-list .list-header .all-btns .b-btn{
 display: inline-block;
 width: 60px;
 height: 32px;
 line-height: 32px;
 text-align: center;
 color: #fff;
 background: #1f95d5;
 border-radius: 4px;
 margin: 0 10px 8px;
 cursor: pointer;
}
.load-list .list-body .import{
 text-align: left;
}
.load-list .list-body .import .i-icon{
 display: inline-block;
 width: 16px;
 height: 16px;
 background: url('../image/cstrMgn/share.png');
 vertical-align: middle;
}
.load-list .list-body .import .im-btn{
 display: inline-block;
 width: 80px;
 height: 32px;
 line-height: 32px;
 text-align: center;
 border: 1px solid #1f95d5;
 color: #1f95d5;
 background: #fff;
 border-radius: 4px;
 cursor: pointer;
}
.load-list .list-body .import{
 margin: 0 40px;
}
.modal .modal-body .bg{
 width: 100%;
 padding: 25px 50px;
 background: #ddd;
}
.modal .modal-body .box{
 background: #fff;
 overflow: hidden;
 width: 100%;
 padding: 20px;
}
.modal .modal-body .box h4{
 text-align: center;
 color: #000;
 font-size: 14px;
 font-weight: bold;
 padding: 0  0 25px 0;
 margin: 0;
}
.modal .modal-body .bg .tables{
 padding: 0;
}
.modal .modal-body .bg .tables table{
 width: 100%;
 border-color: #333;
}
.modal .modal-body .bg .tables table tr{
 border-color: #333;
 height: 45px;
 line-height: 45px;
}
.modal .modal-body .bg .tables table tbody tr td{
 height: 45px;
 line-height: 45px;
 text-align: center;
}
.modal .modal-body .bg .tables table thead tr th:not(:last-child), .modal .modal-body .bg .tables table tbody tr td:not(:last-child){
 border-color: #333;
}
.modal .modal-body .bg .tables .add-box, .modal .modal-body .bg .tables .upload-box{
 padding: 20px;
 text-align: left;
}
.modal .modal-body .bg .add-btn, .modal .modal-body .bg .upload-btn{
 position: relative;
 display: inline-block;
 width: 100px;
 height: 32px;
 line-height: 32px;
 text-align: center;
 padding: 0 10px;
 color: #fff;
 background: #1f95d5;
 border-radius: 4px;
}
.modal .modal-body .bg .add-btn .a-icon{
 display: inline-block;
 width: 12px;
 height: 12px;
 background: url('../image/cstrMgn/add.png') no-repeat center center;
 margin-right: 6px;
}
.modal .modal-body .bg .upload-btn .u-icon{
 display: inline-block;
 width: 12px;
 height: 12px;
 background: url('../image/cstrMgn/upload.png') no-repeat center center;
 margin-right: 6px;
}
.modal .modal-body .bg .img{
 position: relative;
 display: inline-block;
 margin-left: 20px;
}
.modal .modal-body .bg .img .img-box{
  display: inline-block;
  margin-right: 10px;
}
.modal .modal-body .bg .img .rms{
 position: absolute;
 top: 0;
 right: 0;
 width: 12px;
 height: 12px;
 line-height: 12px;
 text-align: center;
 background: #ddd;
 cursor: pointer;
}
.modal .modal-body .bg .name{
 display: inline-block;
 margin-left: 20px;
}
.modal .modal-body .bg .name .name-box{
  display: inline-block;
  margin-right: 10px;
}
.modal .modal-body .bg  .name .t-icon{
 display: inline-block;
 width: 20px;
 height: 20px;
 background: url('../image/cstrMgn/type.png') no-repeat center center;
 vertical-align: middle;
 margin-right: 6px;
}
.modal .modal-body .bg .delete{
 display: inline-block;
 margin-left: 10px;
 color: #999;
}
#add-file, #upload-file{
 position: absolute;
 top: 0;
 left: 0;
 width: 100px;
 height: 32px;
 opacity: 0;
}
/**air-online.html**/
.air-ol .air-summary{
 padding: 20px;
}
.air-ol .air-summary .air-header .gk{
 line-height: 32px;
}
.air-ol .air-summary .air-header .s-types{
 margin: 0;
 padding-bottom: 20px;
}
.air-ol .air-summary .air-header .s-types .item{
 display: inline-block;
}
.air-ol .air-summary .air-header .s-types .item:first-child{
 margin-right: 50px;
}
.air-ol .air-summary .air-header .s-types .labels{
 display: inline-block;
 width: 100px;
}
.air-ol .air-summary .air-header .s-types select{
 width: 160px;
 height: 32px;
 margin: 10px 0;
}

.air-ol .air-summary .air-body .detail{
 position: relative;
 padding: 0;
 border: 1px solid #1f95d5;
}
.air-ol .air-summary .air-body .detail .imgs img{
 width: 100%;
}
.air-ol .air-summary .air-body .detail .i-icon-on{
 position: absolute;
 top: 1px;
 left: 1px;
 width: 47px;
 height: 47px;
 background: url('../image/cstrMgn/kg.png')
}
.air-ol .air-summary .air-body .detail .i-icon-off{
 position: absolute;
 top: 1px;
 left: 1px;
 width: 61px;
 height: 61px;
 background: url('../image/cstrMgn/not_kg.png')
}
.air-ol .air-summary .air-body .detail ul{
 padding: 15px;
 margin: 0;
}
.air-ol .air-summary .air-body .detail .labels{
 display: inline-block;
 width: 80px;
 padding:7px 0;
 line-height: 24px;
 text-align:justify;
 text-align-last:justify;
 color: #999;
}
.air-ol .air-summary .air-body .other-box{
 padding: 0;
 margin-top: 15px;
}
.air-ol .air-summary .air-body .other-box .bg{
 background: #000;
 height: 240px;
}
.air-ol .air-type li{
 padding: 0;
 margin-bottom: 10px;
}

.air-ol .air-type li .title{
 font-size: 14px;
 font-weight: bold;
 padding: 20px;
 margin: 0;
 border-bottom: 1px solid #ddd;
}
.air-ol .tables table tr td.red{
 color: #df5c4a
}
/**air-online.html**/
.summary-form .chart-item li{
  padding: 0;
  margin-bottom: 15px;
}
.summary-form .title{
  padding: 20px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  border-bottom: 1px solid #ddd;
}
.summary-form .title .month{
  width: 60px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding-left: 6px;
  font-weight: normal;
}
.summary-form .pt, .summary-form .gc, .summary-form .nh{
  padding: 20px;
}

/**need-dong-cell.html**/
.dong-cell ul{
  margin: 0;
}
.dong-cell .table-box .boxs{
  padding: 20px;
/*   margin-right: 20px; */
}

.dong-cell .table-box .boxs .types li{
  display: inline-block;
  margin-right: 20px;
}
.dong-cell .table-box .boxs .types li .labels{
  display: inline-block;
  width: 72px;
}
.dong-cell .table-box .boxs .types li input{
  width: 80px;
}
.dong-cell .table-box .boxs .types li:first-child input{
  width: 120px;
  margin: 0;
}
.dong-cell .table-box .boxs .calendars, .dong-cell .table-box .boxs .oparete{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px;
}
.dong-cell .table-box .boxs .calendars .link{
  display: inline-block;
  margin: 0 5px;
}
.dong-cell .table-box .boxs .calendars .dates{
  position: relative;
  display: inline-block;
}
.dong-cell .table-box .boxs .calendars .date-icon{
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-left: 1px solid #ddd;
  background: #e6e9eb url('../image/cstrMgn/date-icon.png') center center no-repeat;
  cursor: pointer;
 }
 .dong-cell .table-box .boxs .s-btn{
  display: inline-block;
  width: 80px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background: #1f95d5;
  color: #fff;
  border-radius: 4px;
  margin-left: 15px;
  cursor: pointer;
 }
 .dong-cell .table-box .oparete li{
   display: inline-block;
 }
 .dong-cell .table-box .oparete li span{
  display: inline-block;
  width: 50px;
  height: 20px;
  line-height: 20px;
  padding-left: 20px;
  margin-right: 10px;
  cursor: pointer;
 }
 .dong-cell .table-box .oparete li span.save{
  background: url('../image/cstrMgn/save.png') 0 0 no-repeat;
 }
 .dong-cell .table-box .oparete li span.add{
  background: url('../image/cstrMgn/adds.png') 0 0 no-repeat;
 }
 .dong-cell .table-box .oparete li span.delete{
  background: url('../image/cstrMgn/del.png') 0 0 no-repeat;
 }
 .dong-cell .table-box .oparete li span.edit{
  background: url('../image/cstrMgn/edit.png') 0 0 no-repeat;
 }
 .dong-cell .table-box .boxs .tables{
   padding: 20px 0;
 }
 .dong-cell .tables table tr td.blue{
  color: #1f95d5;
 }
 .dong-cell .charts li{
  padding: 0;
  margin-bottom: 15px;
}
.dong-cell .title{
  padding: 20px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  border-bottom: 1px solid #ddd;
}
.dong-cell .title .month{
  width: 60px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-weight: normal;
}
.dong-cell .pt, .dong-cell .gc{
  padding: 0 0 20px;
}
/**适配**/
@media (max-width: 376px) {
 .enquire-need .need-header .dates:last-child, .air-online .air-header .dates:last-child{
   margin: 15px 0 0 84px;
 }
 .enquire-need .need-header .dates input,  .air-online .air-header .dates input{
   display: inline-block;
   width: 120px;
 }
 .enquire-need .week-name input,.enquire-need .week-name select, .air-online .air-header .week-name input{
   width: 120px;
 }
 .air-online .air-header .calendars{
   margin-top: 15px;
 }
 .load-list .list-header .all-btns .b-btn{
   width: 80px;
 }
 .dong-cell .table-box .boxs .types li:last-child{
  margin-top: 15px;
}
.dong-cell .table-box .boxs .types li input{
  width: 80px;
}
.dong-cell .table-box .boxs .types li:nth-child(2n) {
  margin-top: 15px;
}
.dong-cell .table-box .boxs .types li:first-child input{
  width: 120px;
  margin: 0;
}
.dong-cell .table-box .boxs{
  margin-right: 0;
}
.dong-cell .table-box .boxs .calendars .dates:last-child{
  margin: 15px 0 15px 72px;
}
}
@media (min-width: 376px) and (max-width: 476px) {
 .enquire-need .need-header .dates:last-child, .air-online .air-header .dates:last-child{
   margin: 15px 0 0 84px;
 }
 .air-online .air-header .calendars, .air-online .air-header .calendars{
   margin-top: 15px;
 }
 .enquire-need .need-body li .box{
   padding: 20px;
 }
 .enquire-need .need-body li .info .precent{
   width: 40%;
 }
 .load-list .list-header input, .load-list .list-header select{
   width: 150px;
 }
 .need-dong .dong-body .dong-btns .d-btn{
  width: 80px;
 }
 .dong-cell .table-box .boxs{
  margin-right: 0;
}

.dong-cell .table-box .boxs .types li:nth-child(2n) {
  margin-top: 15px;
}
.dong-cell .table-box .boxs .types li:first-child input{
  width: 120px;
  margin: 0;
}

.dong-cell .table-box .boxs{
  margin-right: 0;
}
.dong-cell .table-box .boxs .calendars .dates:last-child{
  margin: 15px 0 15px 72px;
}
}
@media (min-width: 476px) and (max-width: 768px){
 .enquire-need .need-header .dates:last-child, .air-online .air-header .dates:last-child{
   display: inline-block;
   margin: 0 0 0 20px;
 }
 .air-online .air-header .calendars, .air-online .air-header .calendars{
   margin-top: 15px;
 }
 .enquire-need .need-body li .box .img{
   width: 20%;
 }
 .enquire-need .need-body li .box .info{
   width: 80%;
 }
 .load-list .list-header input, .load-list .list-header select{
   width: 172px;
 }
 .load-list .list-header .all-btns .b-btn{
   width: 80px;
 }
 .need-dong .dong-body .dong-btns .d-btn{
  width: 80px;
 }
 .need-dong .dong-header .red{
  display: inline-block;
}
.dong-cell .table-box .boxs{
  margin-right: 0;
}

.dong-cell .table-box .boxs .types li:nth-child(2n) {
  margin-top: 15px;
}
.dong-cell .table-box .boxs .types li:first-child input{
  width: 192px;
  margin: 0;
}
.dong-cell .table-box .boxs .types li:last-child{
  margin-top: 15px;
}
.dong-cell .table-box .boxs{
  margin-right: 0;
}
.dong-cell .table-box .boxs .calendars .dates:last-child{
  margin: 15px 0 15px 72px;
}
.need-dong .dong-body .rows{
  padding: 0;
}
.need-dong .dong-body .rows:nth-child(3n){
  padding-right: 20px;
}
}
@media (min-width: 768px) and (max-width: 992px){
 .enquire-need .need-header .dates:last-child, .air-online .air-header .dates:last-child{
   margin: 0 0 0 20px;
 }
 .enquire-need .need-header .dates input, .air-online .air-header .dates input{
   display: inline-block;
   width: 160px;
 }
 .air-online .air-header .week-name input{
   width: 128px;
 }
 .enquire-need .t-btns{
   text-align: right;
   margin-top: 15px;
 }

 .enquire-need .need-body li .box{
   padding: 20px;
 }
 .enquire-need .need-body li .info .precent{
   width: 40%;
 }
 .load-list .list-header input, .load-list .list-header select{
   width: 100px;
 }
 .load-list .list-header .all-btns .b-btn{
   width: 60px;
 }
 .air-ol .air-summary .air-header .s-types select{
  margin: 0;
 }
 .air-ol .air-summary .air-body .other-box{
  margin: 0;
  padding-left: 15px;
 }
 .air-ol .air-type li:first-child{
  padding-right: 20px;
 }
 .air-ol .air-summary .air-body{
  display: flex;
  flex-direction: row;
 }
 .air-ol .air-summary .air-body .detail{
  flex: 0 0 300px;
 }
 .air-ol .air-summary .air-body .other-box{
  flex: 1;
 }
 .air-ol .air-summary .air-body .other-box .bg{
  height: 100%;
 }
 .summary-form .chart-item li{
   margin: 0;
 }
 .summary-form .chart-item li:first-child{
  padding-right: 20px;
}
.need-dong .dong-body .dong-btns{
  text-align: right;
}
.need-dong .dong-body .dong-btns .d-btn{
  width: 80px;
 }
 .need-dong .dong-header .g-ht{
  line-height: 58px;
}
.need-dong .dong-header .g-ct{
  line-height: 45px;
  text-align: center;
}
.need-dong .dong-header .g-rt{
  width: 50%;
}
.need-dong .dong-body .rows{
  padding: 0;
}
.need-dong .dong-body li:not(:nth-child(2n)){
  padding-right: 20px;
}
.dong-cell .table-box .boxs .types li:last-child{
  margin-top: 15px;
}
.dong-cell .table-box .boxs .types li input{
  width: 80px;
}
.dong-cell .table-box .boxs .types li:first-child input{
  width: 172px;
  margin-right: 150px;
}
.dong-cell .table-box .boxs .tables{
  max-height: 270px;
  overflow: auto;
}
.dong-cell .table-box .boxs .s-btn{
  margin: 15px 0 0 0;
}
.dong-cell .charts .box{
  max-height: 256px;
}
}
@media (min-width: 922px) and (max-width: 992px) {
  .dong-cell .table-box .boxs .tables{
    max-height: 315px;
    overflow: auto;
  }
}
@media (min-width: 992px) and (max-width: 1200px){
 .enquire-need .need-header .plan-date, .air-online .air-header .plan-date{
   padding: 0;
 }
 .enquire-need .need-header .calendars, .air-online .air-header .calendars{
   margin: 0;
 }
 .enquire-need .need-header .dates:last-child, .air-online .air-header .dates:last-child{
   margin: 0 0 0 20px;
 }
 .enquire-need .need-header .dates input, .air-online .air-header .dates input{
   display: inline-block;
   width: 120px;
 }
 .air-online .air-header .week-name input{
   width: 172px;
 }
 .enquire-need .need-body li .info{
   padding-left: 15px;
 }
 .enquire-need .need-body li .info .precent{
   width: 50%;
 }
 .enquire-need .need-body li div.item{
   line-height: 24px;
 }
 .air-online .air-header .s-btn{
   margin: 0 10px;
 }
 .load-list .list-header input, .load-list .list-header select{
   width: 172px;
 }
 .load-list .list-header .all-btns .b-btn{
   width: 80px;
 }
 .air-ol .air-summary .air-header .s-types select{
  margin: 0;
 }
 .air-ol .air-summary .air-body .other-box{
  margin: 0;
  padding-left: 15px;
 }
 .air-ol .air-type li:first-child{
  padding-right: 20px;
 }
 .air-ol .air-summary .air-body{
  display: flex;
  flex-direction: row;
 }
 .air-ol .air-summary .air-body .detail{
  flex: 0 0 300px;
 }
 .air-ol .air-summary .air-body .other-box{
  flex: 1;
 }
 .air-ol .air-summary .air-body .other-box .bg{
  height: 100%;
 }
 .summary-form .chart-item li{
  margin: 0;
}
.summary-form .chart-item li:first-child{
 padding-right: 20px;
}
.need-dong .dong-body .dong-btns{
  text-align: right;
}
.need-dong .dong-body .dong-btns .d-btn{
  width: 80px;
 }
 .need-dong .dong-header .g-ht{
  line-height: 58px;
}
.need-dong .dong-header .g-ct{
  line-height: 90px;
  text-align: center;
}
.need-dong .dong-header .red{
  display: inline-block;
}
.need-dong .dong-header .g-rt{
  width: 50%;
}
.need-dong .dong-body .rows{
  padding: 0;
}
.need-dong .dong-body li:not(:last-child){
  padding-right: 20px;
}
.dong-cell .table-box .boxs .types li input{
  width: 80px;
}
.dong-cell .table-box .boxs .types li:first-child input{
  width: 172px;
}
.dong-cell .table-box .boxs .tables{
  max-height: 365px;
  overflow: auto;
}
.dong-cell .charts .box{
  max-height: 256px;
}
}
@media (min-width: 1200px) and (max-width: 1446px){
 .enquire-need .need-header .plan-date, .air-online .air-header .plan-date {
   padding: 0;
 }
 .enquire-need .need-header .calendars, .air-online .air-header .calendars{
   margin: 0;
 }
 .enquire-need .need-header .dates:last-child, .air-online .air-header .dates:last-child{
   margin: 0 0 0 20px;
 }
 .enquire-need .need-body li .info .precent{
   width: 60%;
 }
 .enquire-need .need-body li div.item{
   line-height: 28px;
 }
 .air-online .air-header .s-btn{
   margin: 0 10px;
 }
 
 .load-list .list-header .all-btns .b-btn{
   margin: 0 10px;
 }
 .load-list .list-header .item .labels{
   width: auto;
 }
 .load-list .list-header .all-btns{
   text-align: right;
 }
 .load-list .list-header input, .load-list .list-header select{
   width: 80px;
 }
 .load-list .list-header .all-btns .b-btn{
   width: 60px;
 }
 .load-list .list-body .import{
   text-align: right;
 }
 .air-ol .air-summary .air-header .s-types select{
  margin: 0;
 }
 .air-ol .air-summary .air-body .other-box{
  margin: 0;
  padding-left: 15px;
 }
 .air-ol .air-type li:first-child{
  padding-right: 20px;
 }
 .air-ol .air-summary .air-body{
  display: flex;
  flex-direction: row;
 }
 .air-ol .air-summary .air-body .detail{
  flex: 0 0 300px;
 }
 .air-ol .air-summary .air-body .other-box{
  flex: 1;
 }
 .air-ol .air-summary .air-body .other-box .bg{
  height: 100%;
 }
 .summary-form .chart-item li{
  margin: 0;
}
.summary-form .chart-item li:first-child{
 padding-right: 20px;
}
.need-dong .dong-body .dong-btns{
  text-align: right;
}
.need-dong .dong-body .dong-btns .d-btn{
  width: 80px;
 }
 .need-dong .dong-header li p{
  text-align: center;
}
.need-dong .dong-header .g-ht{
  line-height: 58px;
}
.need-dong .dong-header .g-st{
  line-height: 58px;
}
.need-dong .dong-header .g-ct{
  line-height: 29px;
  text-align: center;
}
.need-dong .dong-header .red{
/*   display: block; */
  line-height: 58px;
}
.need-dong .dong-header .g-rt{
  width: 50%;
}
.need-dong .dong-body .rows{
  padding: 0;
}
.need-dong .dong-body li:not(:last-child){
  padding-right: 20px;
}
.dong-cell .table-box .boxs .types li input{
  width: 80px;
}
.dong-cell .table-box .boxs .types li:first-child input{
  width: 172px;
}
.dong-cell .table-box .boxs .tables{
  max-height: 365px;
  overflow: auto;
}
.dong-cell .charts .box{
  min-height: 295px;
}
}
@media (min-width: 1446px){
 .load-list .list-header input, .load-list .list-header select{
   width: 120px;
 }
 .load-list .list-header .all-btns .b-btn{
   width: 80px;
 }
 .load-list .list-header .all-btns{
   text-align: right;
 }
 .load-list .list-body .import{
   text-align: right;
 }
 .air-ol .air-summary .air-header .s-types select{
  margin: 0;
 }
 .air-ol .air-summary .air-body .other-box{
  margin: 0;
  padding-left: 15px;
 }
 .air-ol .air-type li:first-child{
  padding-right: 20px;
 }
 .air-ol .air-summary .air-body{
  display: flex;
  flex-direction: row;
 }
 .air-ol .air-summary .air-body .detail{
  flex: 0 0 300px;
 }
 .air-ol .air-summary .air-body .other-box{
  flex: 1;
 }
 .air-ol .air-summary .air-body .other-box .bg{
  height: 100%;
 }
 .summary-form .chart-item li{
  margin: 0;
}
.summary-form .chart-item li:first-child{
 padding-right: 20px;
}
.need-dong .dong-body .dong-btns{
  text-align: right;
}
.need-dong .dong-body .dong-btns .d-btn{
  width: 80px;
 }
 .need-dong .dong-header li p{
  text-align: center;
}
.need-dong .dong-header .g-ht{
  line-height: 58px;
}
.need-dong .dong-header .g-st{
  line-height: 58px;
}
.need-dong .dong-header .g-ct{
  line-height: 58px;
  text-align: center;
}
.need-dong .dong-header .red{
  display: inline-block;
}
.need-dong .dong-header .g-rt{
  width: 50%;
}
.need-dong .dong-body li:not(:last-child){
  padding-right: 20px;
}
.dong-cell .table-box .boxs .types li input{
  width: 100px;
}
.dong-cell .table-box .boxs .types li:first-child input{
  width: 172px;
}
.dong-cell .table-box .boxs .tables{
  max-height: 365px;
  overflow: auto;
}
.dong-cell .charts .box{
  max-height: 256px;
}
.enquire-need .need-header .calendars{
  margin: 0;
}
.enquire-need .need-header .dates:last-child{
  margin: 0 0 0 20px;
}
}

/**build-rate.html**/
#echart1,#echart2,#echart3,#echart4,#echart5,#echart6,#echart7,#echart8{
  padding-top: 15px;
}
// .calendars .dates:last-child{
//   margin: 15px 0 0 84px;
// }
.build-header .labels{
  display: inline-block;
  width: 84px;
}
.build-header .b-btns{
  margin-top: 15px;
}
.build-body{
  padding: 20px 0 0 20px;
}
.build-body li{
  position: relative;
  padding: 0 20px 20px 0;
}
.build-body li .box{
  border: 1px solid #ddd;
}
.build-body li .tip{
  position: absolute;
  top: 6px;
  left: 6px;
  color: #d7171a;
  padding-left: 16px;
  background: url('../image/cstrMgn/alert.png') no-repeat 0 center;
  display: none;
}
.build-body li .tip.tip-err{
  display: block;
}
.build-body li .box .total{
  text-align: center;
}
.build-body li .box .info{
  margin-top: 20px;
  background: #dfdfdf;
  padding: 15px;
}
.build-body li .box .info .title{
  width: 96%;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin: 0 0 10px 0;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis; 
}
.build-body li .box .info p{
  margin: 0px;
  line-height: 24px;
  color: #000;
}
.build-body li .box .info .labels{
  display: inline-block;
  width: 72px;
  color: #999;
  text-align:justify;
  text-align-last:justify;
  margin-right: 6px;
}

/**build-search.html**/
.search-header {
  padding-bottom: 0;
}
.search-header .labels{
  display: inline-block;
  width: 84px;
  text-align:justify;
  text-align-last:justify;
}
.search-header .item{
  padding: 0 0 15px 0;
}
.search-header .item input{
  width: 140px;
}
.search-body{
  padding: 0 20px 20px 20px;
}

.btns{
   display: inline-block;
   width: 80px;
   height: 32px;
   line-height: 32px;
   text-align: center;
   border-radius: 4px;
   margin: 0 5px;
   cursor: pointer;
 }
 .btns.s-btn{
   color: #fff;
   background: #1f95d5;
 }
 .btns.r-btn{
  color: #fff;
  background: #eac83f;
}

.calendars .dates {
    position: relative;
    display: inline-block;
    margin: 0;
  }

 .calendars .dates .date-icon{
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-left: 1px solid #ddd;
  background: #e6e9eb url('../image/cstrMgn/date-icon.png') center center no-repeat;
  cursor: pointer;
 }
 .calendars .link{
   display: inline-block;
   margin: 0 6px;
 }
 .rt-date-icon{background: #e6e9eb url(/static/platform/image/cstrMgn/date-icon.png) center center no-repeat;
    position: absolute;
    top: -4px;
    right: -1px;
    display: inline-block;
    width: 24px;
    height: 22px}
    
/* construction 下qt*.html 页面的table */
.tableCss3 td {
    border-width: 2px;
    height: 44px;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    padding: 0px;
    border-style: solid;
    border-color: #666666;
}

.tableCss3  [type="radio"]:checked, [type="radio"]:not(:checked) {
    position: static;
    left: -9999px;
}

.tableCss4  [type="radio"]:checked, [type="radio"]:not(:checked) {
    position: static;
    left: -9999px;
}

.tableCss4 td {
    border-width: 2px;
    height: 37px;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    padding: 0px;
    border-style: solid;
    border-color: #666666;
}

.txt_table {
    height: 100%;
    width: 100%;
    border: 0;
    text-align: center;
    background: #f3f3f4;
    color: #09489f;
}

.a_print_a1, .btn_a1 {
    width: 84px;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%)!important;
    font-size: 14px;
    color: #fff;
    padding-bottom: 4px;
    padding-bottom: 0\9;
}

.btn_a {
    border: none;
    background: none;
    margin-bottom: 15px!important;
    height: 28px;
    line-height: 26px;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.6);
}   

.btn_a:focus {
	filter: brightness(85%);
	box-shadow: inset 0 2px 4px 0 rgba(0,0,0,.06);
} 